{% extends 'base.html' %}
{% block title %}Scam Information{% endblock %}
{% load static %}

{% block content %}
<section class="scam-info">
    <div class="security-tips">
        <div class="security-tip">
            <h3>What you can do to avoid a scam</h3>
            <ul>
                <li>Never visit links sent by drivers. Some fake drivers could try to make you pay outside our app by sending a link, a phone number, or an email address.</li>
                <li>For cash-only rides, always pay in the car. Scammers are getting increasingly sophisticated in their attempts to get your money or payment details. Always pay in cash, in the car, upon departure.</li>
                <li>Only pay the service fee on our app. Even if the website sent by fake drivers looks like GoTogether’s, do not transfer money outside our app.</li>
            </ul>
        </div>
        <div class="security-tip">
            <h3>How scammers try to get your money or payment details</h3>
            <ul>
                <li>By building a fake website that looks like GoTogether’s. Scams succeed because they look like the real thing. Scammers are getting smarter: they will try to make you visit another website, very similar to ours, that will convince you to give them your money or payment details. Make sure you’re always paying on GoTogether’s app or website.</li>
                <li>By creating fake user profiles. Fake profiles are usually created just a few days or hours ago and don’t have any ratings from other members. They also often charge less than other similar rides. Before or after booking the ride, they could try to contact you outside of our platform (through your phone or WhatsApp). If you think you interacted with a fake profile, you can report it.</li>
            </ul>
        </div>
        <div class="security-tip">
            <h3>What to do if you think someone is trying to scam you</h3>
            <ul>
                <li>If the driver sends you a link to pay for your ride: You can reply, “I’m uncomfortable using the link you sent, I will follow GoTogether’s recommendation and pay you in cash, in the car.”</li>
                <li>If the driver insists on getting paid in advance: You can reply, “Don't worry, I will pay on the day of departure, in the car. I do not want to pay online.”</li>
                <li>If the driver asks you for additional charges: You can reply, “I have already paid the service fee on GoTogether's app, I will pay in cash upon departure.”</li>
            </ul>
        </div>
        <div class="security-tip">
            <h3>Password quality</h3>
            <ul>
                <li>Your password should be at least 8 characters with a mix of at least 1 letter, 1 number, and 1 special character (e.g. #, @, &).</li>
                <li>Having complex and unique passwords on all your accounts, not just your GoTogether account, will greatly reduce the chances of having security issues.</li>
            </ul>
        </div>
        <div class="security-tip">
            <h3>Online safety</h3>
            <ul>
                <li>Check for “https://” and “🔒” at the beginning of a website: This means your connection is secure.</li>
                <li>Check if the URL matches the GoTogether website: A link in a message could look right, but if the URL doesn’t match the official website (https://www.GoTogether.co.uk) — it’s a scam. Always check the page's entire URL before entering your login or payment info.</li>
                <li>Use only your device: Don’t create accounts or enter passwords on a device that’s not yours — like a friend’s phone or internet cafe.</li>
                <li>Update your software and devices: These updates often address security risks and introduce new security protections.</li>
            </ul>
        </div>
        <div class="security-tip">
            <h3>Off-site payments and messages</h3>
            <ul>
                <li>Only exchange on GoTogether: Do not exchange on other platforms (WhatsApp, Messenger) before booking.</li>
                <li>Keep your personal info secure: Never share your personal information like phone number, email, and payment details before booking a ride.</li>
                <li>Don’t follow links in messages: Never click on or open a link in suspicious or unsolicited messages on the GoTogether platform or third-party messaging apps.</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
